body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#logo-header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}
#logo-header h1 {
  float: left;
  top: 18px;
  left: 10px;
}

#main-container{
  margin: 0 ;
  padding: 25px;
}


.container{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
  max-width: 980px;
  margin: 0 auto;
}

.recipe-card{
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(250, 215, 215);
  /* display: grid; 
  grid-auto-rows: repeat(6, 1fr); */
  align-items: center;
  place-items: center;
  justify-content: center;
}

.recipe-card:nth-child(even){
  background-color: rgba(250, 235, 215, 0.758);
}

.img-card{
  height: 110px;
  width: minmax(auto, 185px);
  align-items: center;
  justify-items: center;
}

.recipe-title{
  font-size: large;
}

.effort-level{
  font-size: small;
}

.show-more-btn{
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.show-more-btn:hover {
  background-color:  #54b3d6;
  color: white;
}
.show-more-btn:active {
  background-color: #d67754;
  color: white;
}


#navbar{
  margin-block-end: 15px ;
}
#search-bar{
  margin-block-end: 15px ;
}
#filter{
  margin-block-end: 15px ;
}

#navbar a {
  display: inline;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0, -.25rem;
  padding: .25rem;
  transition: color , box-shadow ;
}
#navbar a:hover {
  box-shadow: inset 400px 0 0 0 #54b3d6;
  color: white;
}

#navbar a:active {
  box-shadow: inset 400px 0 0 0 #d67754;
  color: white;
}

#add-new-recipe{
  background-color: aquamarine;
  box-sizing: border-box;
  width:90%;
  padding:20px;
}

.dropdown{
  width: 255px;
  padding: 5px;
  margin: 5px;
}
.text-input{
  width: 240px;
  padding: 5px;
  margin: 5px;
}