body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-container{
  border: 4px solid rgb(251, 0, 0);
  margin: 0 ;
  padding: 1rem;
}


.container{
  border: 2px solid black;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
  max-width: 980px;
  margin: 0 auto;
}

.recipe-card{
  border: 2px solid rgb(8, 0, 255);
  padding: 30px;
  background-color: rgb(250, 215, 215);
  display: grid; 
  grid-auto-rows: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
}

.recipe-card:nth-child(even){
  background-color: rgba(250, 235, 215, 0.758);
}

.img-card{
  height: auto;
  width: 160px;
  align-items: center;
  justify-items: center;
}

.recipe-title{
  font-size: large;
}

.effort-level{
  font-size: small;
}

.show-more-btn{
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
